test-fpga.prj*
test-x86-64
test-fpga
transcript
.vscode
.DS_Store
verilog/dfr_hls_tb
rx.txt
python/bladerf_demo/bladerf_txrx/rx_r0t0_4502M.bin
python/bladerf_demo/bladerf_txrx/rx_r0t0_1537M.bin

# simulation files
*.wlf
transcript
fpga/dfr_tb/libraries
python/bladerf_demo/bladerf_txrx_rom/rx_r0t0_1537M.bin
*.bin
python/bladerf_demo/bladerf_txrx_rom/rx_r0t0_1537M.bin
