test-fpga.prj*
test-x86-64
test-fpga
transcript
.vscode
.DS_Store
verilog/dfr_hls_tb
rx.txt
python/bladerf_demo/bladerf_txrx/rx_r0t0_4502M.bin
python/bladerf_demo/bladerf_txrx/rx_r0t0_1537M.bin

# simulation files
*.wlf
transcript
fpga/dfr_tb/libraries
python/bladerf_demo/bladerf_txrx_rom/rx_r0t0_1537M.bin
*.bin
python/bladerf_demo/bladerf_txrx_rom/rx_r0t0_1537M.bin
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d434_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d435_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d436_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d437_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d440_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d441_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d442_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d445_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d446_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d434_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d435_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d436_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d437_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d440_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d441_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d442_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d445_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d446_lnTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000848_expTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000852_expTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000855_expTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000858_expTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001848_expTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001852_expTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001855_expTables_lutmem.hex
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001858_expTables_lutmem.hex
python/bladerf_demo/bladerf_txrx_rom/rx_r0t0_1537M.bin
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d434_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d435_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d436_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d437_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d440_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d441_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d442_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d445_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000d446_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d434_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d435_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d436_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d437_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d440_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d441_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d442_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d445_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001d446_lnTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000848_expTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000852_expTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000855_expTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260000858_expTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001848_expTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001852_expTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001855_expTables_lutmem.ver
fpga/dfr_tb/dfr_flt_i_llvm_fpga_vpfp_pow_i26_i26_i260001858_expTables_lutmem.ver
gnu_radio/custom/__pycache__/dfr_epy_block_0.cpython-38.pyc
gnu_radio/custom/__pycache__/dfr_epy_block_1_0.cpython-38.pyc
gnu_radio/custom/__pycache__/dfr_epy_block_1.cpython-38.pyc
gnu_radio/custom/__pycache__/dfr_epy_block_1_0_0.cpython-38.pyc
gnu_radio/custom/__pycache__/dfr_epy_block_1_1_0.cpython-38.pyc
gnu_radio/custom/__pycache__/dfr_epy_block_1_1.cpython-38.pyc
gnu_radio/custom/__pycache__/dfr_epy_block_1_2.cpython-38.pyc
gnu_radio/custom/__pycache__/dfr_epy_block_2.cpython-38.pyc
*.pyc


# PPAA Analysis
# /home/oshears/Documents/bladeRF/bladerf_dfr_accelerator/intel_hls/hls_float_dfr_narma10_ppaa
intel_hls/hls_float_dfr_narma10_ppaa
intel_hls/hls_float_dfr_spectrum_raw_ppaa